<?xml version="1.0" ?>
<robot name="articulated_robotic_manipulator">
  <link name="base">
    <visual>
      <geometry>
        <box size="0.08 0.08 0.016"/>
      </geometry>
    </visual>
  </link>
  <link name="end_effector">
    <visual>
      <geometry>
        <box size="0.022 0.032 0.014"/>
      </geometry>
    </visual>
  </link>
  <link name="first_link">
    <visual>
      <geometry>
        <cylinder radius="0.006" length="0.05"/>
      </geometry>
    </visual>
  </link>
  <link name="gripper">
    <visual>
      <geometry>
        <box size="0.022 0.032 0.014"/>
      </geometry>
    </visual>
  </link>
  <link name="position_sensor">
    <visual>
      <geometry>
        <sphere radius="0.006"/>
      </geometry>
    </visual>
  </link>
  <link name="second_link">
    <visual>
      <geometry>
        <cylinder radius="0.006" length="0.05"/>
      </geometry>
    </visual>
  </link>
  <joint name="first_joint" type="revolute">
    <parent link="base"/>
    <child link="first_link"/>
    <origin xyz="0.0600 0.0000 0.0000" rpy="0 0 0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-3.14" upper="3.14" velocity="1.0" effort="100"/>
  </joint>
  <joint name="_attach_base_to_gripper" type="fixed">
    <parent link="base"/>
    <child link="gripper"/>
    <origin xyz="0.1200 0.0600 0.0600" rpy="0 0 0"/>
  </joint>
  <joint name="second_joint" type="revolute">
    <parent link="first_link"/>
    <child link="second_link"/>
    <origin xyz="0.0000 0.0600 0.0000" rpy="0 0 0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-3.14" upper="3.14" velocity="1.0" effort="100"/>
  </joint>
  <joint name="_attach_second_link_to_end_effector" type="fixed">
    <parent link="second_link"/>
    <child link="end_effector"/>
    <origin xyz="0.0000 0.0000 0.0600" rpy="0 0 0"/>
  </joint>
  <joint name="_attach_second_link_to_position_sensor" type="fixed">
    <parent link="second_link"/>
    <child link="position_sensor"/>
    <origin xyz="0.0000 0.0000 0.1200" rpy="0 0 0"/>
  </joint>
</robot>
